---
title: Kappa Eta Kappa, Delta Chapter
layout: passthrough
---
{% include header.html %}
<body class="homepage">
	<!-- Header -->
	<div id="header-wrapper">
		<div id="header">
			<!-- Logo -->
			<h1><a href="index.html">Kappa Eta Kappa</a></h1>
			<!-- Nav -->
			{% include nav.html %}
			<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Kappa Eta Kappa</h2>
					<h3>Delta Chapter</h3>
					<p>Professional Co-ed Electrical and Computer Engineering Fraternity</p>
				</header>
			</section>
			<!-- Intro -->
			<section id="intro" class="container">
				<div class="row">
					<div class="4u">
						<section class="first">
							<i class="icon featured fa-book"></i>
							<header>
								<h2>Achedemic</h2>
							</header>
							<p>Ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
						</section>
					</div>
					<div class="4u">
						<section class="middle">
							<i class="icon featured alt fa-flash"></i>
							<header>
								<h2>Professional</h2>
							</header>
							<p>ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
						</section>
					</div>
					<div class="4u">
						<section class="last">
							<i class="icon featured alt2 fa-star"></i>
							<header>
								<h2>Community</h2>
							</header>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut labore et dolore magna aliqua..</p>
						</section>
					</div>
				</div>
				<footer>
					<ul class="actions">
						<li><a href="{{ site.baseurl }}/get-involved.html" class="button big">Get Involved</a></li>
						<li><a href="{{ site.baseurl }}/about.html" class="button alt big">Learn More</a></li>
					</ul>
				</footer>
			</section>

		</div>
	</div>

	<!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row">
				<div class="12u">
					<!-- Updates -->
					<section>
						<header class="major">
							<h2>Updates</h2>
						</header>
						<div class="row">
							{% for post in site.posts offset: 0 limit: 2 %}
								<div class="6u">
									<section class="box">
										<a href="#" class="image featured"><img src="{{ site.baseurl }}{{ post.featured }}" alt="" /></a>
										<header>
											<h3>{{ post.title }}</h3>
											<p>Posted {{ post.date | date_to_string }}</p>
										</header>
										{{ post.excerpt }}
										<footer>
											<ul class="actions">
												<li><a href="{{ site.baseurl }}{{ post.url }}" class="button icon fa-file-text">Continue Reading</a></li>
												<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
											</ul>
										</footer>
									</section>
								</div>
							{% endfor %}
						</div>
					</section>

					<!-- Member Highlights -->
					<section>
						<header class="major">
							<h2>Highlighted Members</h2>
						</header>
						<div class="row">
							<div class="4u">
								<section class="box">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic02.jpg" alt="" /></a>
									<header>
										<h3>Ipsum feugiat et dolor</h3>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Find out more</a>
									</footer>
								</section>
							</div>
							<div class="4u">
								<section class="box">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt="" /></a>
									<header>
										<h3>Sed etiam lorem nulla</h3>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Find out more</a>
									</footer>
								</section>
							</div>
							<div class="4u">
								<section class="box">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt="" /></a>
									<header>
										<h3>Consequat et tempus</h3>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Find out more</a>
									</footer>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="4u">
								<section class="box">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic05.jpg" alt="" /></a>
									<header>
										<h3>Blandit sed adipiscing</h3>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Find out more</a>
									</footer>
								</section>
							</div>
							<div class="4u">
								<section class="box">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic06.jpg" alt="" /></a>
									<header>
										<h3>Etiam nisl consequat</h3>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Find out more</a>
									</footer>
								</section>
							</div>
							<div class="4u">
								<section class="box">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic07.jpg" alt="" /></a>
									<header>
										<h3>Dolore nisl feugiat</h3>
									</header>
									<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
									<footer>
										<a href="#" class="button alt">Find out more</a>
									</footer>
								</section>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
{% include footer.html %}
