---
title: Kappa Eta Kappa, Delta Chapter

President: Steven Ritter
Vice_President: Tom Powers
Treasurer: Stewart Hagen
Secretary: Matthew Strimaitis
Publicity_Chair: Tiger He
Pledge_Trainer: Ali Zaidi
House_Steward: Samuel Julson
Social_Chair: Matthew Kramer
---
{% include header.html banner=true %}
<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <!-- Updates -->
    <section>
      <header class="major">
        <h2>Updates</h2>
      </header>
      <div class="updates-grid">
        {% for post in site.posts offset: 0 limit: 2 %}
          {% include post_card.html post=post%}
        {% endfor %}
      </div>
      <footer style="display:flex;justify-content:center;">
        <a href="/posts/" class="button big icon fa fa-newspaper-o">Read more</a>
      </footer>
    </section>

    <!-- Member Highlights -->
    <section>
      <header class="major">
        <h2>Highlighted Members</h2>
      </header>
      <div class="leadership-grid" style="margin-bottom:50px;">
        {% include member_card.html role='President' id=page.President %}
        {% include member_card.html role='Vice President' id=page.Vice_President %}
        {% include member_card.html role='Pledge Trainer' id=page.Pledge_Trainer %}
        {% include member_card.html role='House Steward' id=page.House_Steward %}
      </div>
      <div class="order-grid">
        {% include member_card.html role='Treasurer' id=page.Treasurer %}
        {% include member_card.html role='Publicity Chair' id=page.Publicity_Chair %}
        {% include member_card.html role='Social Chair' id=page.Social_Chair %}
        {% include member_card.html role='Secretary' id=page.Secretary %}
      </div>
  </div>
</div>
{% include footer.html %}
