<!-- Banner -->
<section id="banner">
  <header>
    <h2>Kappa Eta Kappa</h2>
    <h3>Delta Chapter</h3>
    <p>Professional Co-ed Electrical and Computer Engineering Fraternity</p>
  </header>
</section>
<!-- Intro -->
<section id="intro" class="container">
  <div class="row">
    <div class="4u">
      <section class="first">
        <i class="icon featured fa-book"></i>
        <header>
          <h2>Academic</h2>
        </header>
        <p>
          KHK was founded at the University of Wisconsin as an electrical engineering
          fraternity in 1924. Today many of our members also study computer engineering,
          computer science and other technical programs. Members often study and work
          together at our house.
        </p>
      </section>
    </div>
    <div class="4u">
      <section class="middle">
        <i class="icon featured alt fa-flash"></i>
        <header>
          <h2>Professional</h2>
        </header>
        <p>
          Members are hired out of school into well-paying careers. Some have become successful entrepreneurs. Membership opens up connections to industry from across the globe. Professionals visit and give talks about life, work, and how they found their success.
        </p>
      </section>
    </div>
    <div class="4u">
      <section class="last">
        <i class="icon featured alt2 fa-star"></i>
        <header>
          <h2>Community</h2>
        </header>
        <p>
          College can be a new and often stressful experience. It helps to have friends and family close. Members benefit from a fraternal relationship strengthened by tradition and legacy. Membership is also a great way to meet new, like-minded friends-of-friends.
        </p>
      </section>
    </div>
  </div>
  <footer>
    <ul class="actions">
      <li><a href="{{ site.baseurl }}/events/" class="button big">Get Involved</a></li>
      <li><a href="{{ site.baseurl }}/posts/" class="button alt big">Learn More</a></li>
    </ul>
  </footer>
</section>
