{% assign connect_class = 'alt fa-chain-broken disabled' %}
{% if member.connect_uri != undefined %}
  {% assign connect_class = 'falt fa-link' %}
{% endif %}
{% if member.connect_uri contains 'facebook.com' %}
  {% assign connect_class = 'fa-facebook' %}
{% endif %}
{% if member.connect_uri contains 'twitter.com' %}
  {% assign connect_class = 'fa-twitter' %}
{% endif %}
{% if member.connect_uri contains 'dribble.com' %}
  {% assign connect_class = 'fa-dribble' %}
{% endif %}
{% if member.connect_uri contains 'linkedin.com' %}
  {% assign connect_class = 'fa-linkedin' %}
{% endif %}
{% if member.connect_uri contains 'google.com' %}
  {% assign connect_class = 'fa-google-plus' %}
{% endif %}
{% if member.connect_uri contains 'tumblr.com' %}
  {% assign connect_class = 'fa-tumblr' %}
{% endif %}
{% if member.connect_uri contains 'github.com' %}
  {% assign connect_class = 'fa-github' %}
{% endif %}
<a href="#" class="button icon {{connect_class}}">Connect</a>
