<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">Kappa Eta Kappa</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li><a href="{{ site.baseurl }}/about.html">About</a></li>
								<li><a href="{{ site.baseurl }}/get-involved.html">Get Involved</a></li>
								<li><a href="{{ site.baseurl }}/roster.html">Members</a></li>
								<li>
									<a href="">Organizations</a>
									<ul>
										<li><a href="http://daa.khk.org">Delta Alumni Association</a></li>
										<li><a href="http://khk.org">National Association</a></li>
										<li><a href="http://nec.khk.org">National Executive Council</a></li>
										<li>
											<a href="#">Other Chapters</a>
											<ul>
												<li><a href="http://beta.khk.org">Beta (UM - St Paul/Twin Cities)</a></li>
												<li><a href="http://iota.khk.org">Iota (UM - St Cloud)</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Kappa Eta Kappa</h2>
								<h3>Delta Chapter</h3>
								<p>Professional Co-ed Electrical and Computer Engineering Fraternity</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-book"></i>
										<header>
											<h2>Achedemic</h2>
										</header>
										<p>Ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-flash"></i>
										<header>
											<h2>Professional</h2>
										</header>
										<p>ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>Community</h2>
										</header>
										<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut labore et dolore magna aliqua..</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="{{ site.baseurl }}/get-involved.html" class="button big">Get Involved</a></li>
									<li><a href="{{ site.baseurl }}/about.html" class="button alt big">Learn More</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>
