{% assign member = site.data.member_bios[include.id] %}
{% capture connect %}
  {% assign connect_class = 'alt fa-link disabled' %}
  {% if member.connect_uri != undefined %}
    {% assign connect_class = 'falt fa-link' %}
  {% endif %}
  {% if member.connect_uri contains 'facebook.com' %}
    {% assign connect_class = 'fa-facebook' %}
  {% endif %}
  {% if member.connect_uri contains 'twitter.com' %}
    {% assign connect_class = 'fa-twitter' %}
  {% endif %}
  {% if member.connect_uri contains 'dribble.com' %}
    {% assign connect_class = 'fa-dribble' %}
  {% endif %}
  {% if member.connect_uri contains 'linkedin.com' %}
    {% assign connect_class = 'fa-linkedin' %}
  {% endif %}
  {% if member.connect_uri contains 'google.com' %}
    {% assign connect_class = 'fa-google-plus' %}
  {% endif %}
  {% if member.connect_uri contains 'tumblr.com' %}
    {% assign connect_class = 'fa-tumblr' %}
  {% endif %}
  <a href="#" class="button icon {{connect_class}}">Connect</a>
{% endcapture %}


{% if member != null %}
  <section class="box member-box {{include.role | replace:' ', '-'}}">
    {% assign photo = member.photo_uri | default: '/assets/images/pic05.jpg' %}
    <span class="image full" style="background-image:url('{{ photo }}')"></span>
    <h3>{{member.name}}</h3>
    {{assign desc = include.role | default:member.status}}
    {% if desc != null %}
      <p>{{desc}}</p>
    {% endif %}
    {{connect}}
  </section>
{% else %}
  {% if site.__DEV__ == true %}
    <section class="box">
      <strong style="color:red;">Error:</strong> Member bio missing for {{include.id}}
    </section>
  {% endif %}
{% endif %}
