<!-- Nav -->
<nav id="nav">
  <ul>
    {% assign current = page.url | downcase | split: '/' %}
    <li {% if current[1] == null || current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
    <li {% if current[1] contains 'posts' %}class='current'{% endif %}><a href="{{ site.baseurl }}/posts">About</a></li>
    <li {% if current[1] contains 'events' %}class='current'{% endif %}><a href="{{ site.baseurl }}/events">Events</a></li>
    <li {% if current[1] contains 'members' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members">Members</a></li>
    <li>
      <a href="">Organizations</a>
      <ul>
        <li><a href="http://daa.khk.org">Delta Alumni Association</a></li>
        <li><a href="http://khk.org">National Association</a></li>
        <li><a href="http://khk.org/contact">National Executive Council</a></li>
        <li>
          <a href="#">Other Chapters</a>
          <ul>
            <li><a href="http://khkbeta.org">Beta (UM - St Paul/Twin Cities)</a></li>
            <li><a href="http://iota.khk.org">Iota (UM - St Cloud)</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
