{% include header.html banner=false %}
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="12u">
        {% include semester_pager.html %}
        <section>
          <div class="row">
            {% for member_id in page.members %}
              <div class="3u">
                {% include member_card.html id=member_id %}
              </div>
            {% endfor %}
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
