---
title: Events
layout: default
show_events: false
---

<div id="main-wrapper">
  <div class="container">
    <div class="row">
			<div class="12u">

        <div class="row">
          <div class="10u -1u">
            <article class="info-text">
              <h2>Looking to get involved with KHK?</h2>
              <p>
                We're always looking for new members who share our core ideals in academics, professionalism, and commnunity. If you're looking for a place to study, build things, or make new friends then we're happy to meet you. Checkout our public events below to figure when and where to meet us. You can also catch us at org fairs, or proped up in campus buildings. Otherwise feel free to reach our online or stop on by at our house on campus at 114 North Orchard St.
              </p>
            </article>
          </div>
        </div>

        <section>
          <header class="major"><h2>Events</h2><header>
        </section>

        {% for event in site.events %}
        <div class="row">
          <div class="8u -2u">
          {% include event_card.html event=event box=true %}
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
